# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv*/
.venv*/
ENV/
env/

# IDEs
.vscode/
.idea/

# Models and Artifacts
*.pt
*.onnx
*.tflite
*_saved_model/
metadata.yaml
*.jpg
*.jpeg
*.png
*.mp4

# Logs
*.log
